# Variables de sistema y red local
APP_ENV=development
SERVER_HOST=localhost
SERVER_PORT=9090
SERVER_PORT_HTTP=9080
DDNS_DOMAIN=tu-subdominio.ddns.net

# Seguridad y token
JWT_SECRET_KEY=cambia-este-valor-por-uno-largo-y-secreto
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Conexion externa a Supabase PostgreSQL
SUPABASE_DB_URL=postgresql://postgres.tu_id_supabase:tu_password@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require
