:root {
  /* Tus Colores Personalizados */
  --color-negro-carbon: #0e0e11;
  --color-gris-antracita: #1c1e22;
  --color-gris-acero: #3a3d42;
  --color-gris-tecnico: #b5b8be;
  --color-verde-criptico: #3aff7a;
  --color-blanco-tecnico: #f2f3f5;

  --surface-hover: #25282e;
  --border-dark: #2d3139;
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8; /*grs tecnico*/
  --primary-hover: #2ed665;

  /* Tus Fuentes */
  --font-inter: "Inter", sans-serif;
  --font-source: "Source Sans 3", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-ejemplo: "Ejemplo", sans-serif;

  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
}

/* .bg-background-dark {
  background-color: var(--color-negro-carbon);
}
.bg-background {
  background-color: var(--color-gris-antracita);
}
.text-primary {
  color: var(--color-blanco-tecnico);
}
.font-body {
  font-family: var(--font-source);
}
.border-border-dark {
}
.bg-surface-dark {
  background-color: var(--color-gris-antracita);
}
 */
.item-menu.current {
  /* .text-primary */
  color: rgb(58 255 122 / var(--tw-text-opacity, 1));
  /* .border-primary */
  border-color: rgb(58 255 122 / var(--tw-border-opacity, 1));
  /*.border-1-2*/
  border-left-width: 2px;
  /*.bg-primary\/10 */
  background-color: rgb(58 255 122 / 0.1);
}

/**** Estilos cuando un div.appointment-card-group es available o locked ****/
.available.appointment-card-group {
  .appointment-card-hour p span[role="img"] {
    /* .text-slate-500 */
    color: rgb(100 116 139 / var(--tw-text-opacity, 1));
  }
  .appointment-card-content {
    &:hover {
      /* hover:bg-surface-dark */
      background-color: rgb(28 30 34 / var(--tw-bg-opacity, 1));
    }
    .appointment-card-content-inner h3 {
      /* .text-slate-500 */
      color: rgb(100 116 139 / var(--tw-text-opacity, 1));
    }
  }
}
.locked.appointment-card-group {
  .appointment-card-hour p span[role="img"] {
    /*.text-primary*/
    color: rgb(58 255 122 / var(--tw-text-opacity, 1));
  }
  .appointment-card-content {
    /* hover:bg-surface-dark */
    background-color: rgb(28 30 34 / var(--tw-bg-opacity, 1));
    /*.border-l-4*/
    border-left-width: 4px;
    /* .border-l-primary */
    border-left-color: rgb(58 255 122 / var(--tw-border-opacity, 1));
    &:hover {
      /* hover:border-primary */
      border-color: rgb(58 255 122 / var(--tw-border-opacity, 1));
    }
    .appointment-card-content-inner h3 {
      /*.text-white */
      color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    }
  }
}
/**** Fin Estilos cuando un div.appointment-card-group es available o locked ****/
